@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/dist/allstyles.css" />

    <title>Index</title>
</head>
<body class="container">
    <div id="basicreactcomponent"></div>
    <br /><br /><br />
    <div id="reactcomponentwithapidata"></div>

    <script src="~/dist/bundle.js"></script>
</body>
</html>

